body {
    font-family: sans-serif;
  }
  h1, h2 {
    font-weight: 400;
    color: steelblue;
  }
  #tytle {
    width: auto;
    height: 150px;
    margin: auto;
    color: #ccc;
    font-size: 1rem;
    text-align: center;
  }
  #studios > div {
    float:left;
    width: 200px;
    height: 100px;
    margin: 0.5em;
    padding: 0.5em;
    background: #f8f8f8;
    min-height: 3em;
    text-align: center;
    background-image: studio-image;
  }
  .studio-title {
    font-weight: bold;
  }
  .studio-title-en {
    margin-left: 1em;
    font-weight: 100;
    opacity: 0.75;
  }
  .studio-title::after {
    content: "\A";
    white-space: pre;
  }